<!doctype html>
<html lang="en">

<%- include("common/header")%>

 <!-- script -->
 <%- include("common/script")%>
 <!-- script -->

<body>
    <!-- Header -->
    <%- include("common/Topheader")%>
    <!-- Header -->
    <!-- inner_banner -->
    <section class="inner_benner">
        <h2>Book Now</h2>
        <p>Home / Book Now</p>
        <div class="top_arr inner_benner1">
            <a href="#offerd"><img src="/webassets/images/top_arro.png" alt="" /></a>
        </div>

    </section>
    <!-- inner_banner -->
    <!-- Packages  -->

    <section class="packages">
        <div class="container">

            <%if(subscription.length != 0 ){%>
                <div>
                    You Have Already Buy A Subscription For This Game And It Is Active Now. Please Wait Until It Get Expired!!!
                </div>
            <%}else{%>
            <div class="row gy-3">
                <div class="col-md-12 mb-4">
                    <h2>
                        Packages
                    </h2>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cards text-center py-5 px-4">
                        <h3>
                            1 Month Package
                        </h3>
                        <span>$<%=packages?.per_month%></span>
                        <p  >Up to 1 Expots <br>
                            30 Days Validity <br>
                            5 Leasson <br>
                            24/7 Support </p>
                        <a href="/payment01/?user_id=<%=user_id%>&game_id=<%=game_id%>&amount=<%=packages?.per_month%>&type=month" class="text-white text-decoration-none mx-auto mt-5">
                            Buy
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cards text-center py-5 px-4">
                        <h3>
                            6 Months Package
                        </h3>
                        <span>$<%=packages?.per_halfyear%></span>
                        <p  >Up to 1 Expots <br>
                            180 Days Validity <br>
                            5 Leasson <br>
                            24/7 Support </p>
                        <a href="/payment01/?user_id=<%=user_id%>&game_id=<%=game_id%>&amount=<%=packages?.per_halfyear%>&type=halfyear" class="text-white text-decoration-none mx-auto mt-5">
                            Buy
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cards text-center py-5 px-4">
                        <h3>
                            One Year Package
                        </h3>
                        <span>$<%=packages?.per_year%></span>
                        <p  >Up to 1 Expots <br>
                            365 Days Validity <br>
                            5 Leasson <br>
                            24/7 Support </p>
                        <a href="/payment01/?user_id=<%=user_id%>&game_id=<%=game_id%>&amount=<%=packages?.per_year%>&type=year" class="text-white text-decoration-none mx-auto mt-5">
                            Buy
                        </a>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </section>

    <!-- Packages  -->


    <!-- Footer -->
    <footer>
        <%- include("common/footer")%>
    </footer>
    <!-- Footer -->


</body>

</html>