<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<%- include("common/header")%> <%- include("common/script")%>

<!-- 
<div class="container" id="container_wrapper">
    <div class="row">
        <div class="col-sm-12">
            <center>
                <h1></h1>
            </center>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3"> -->
<!-- <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p> -->
<!-- <form method="post" id="passwordForm">
                <input type="password" class="input-lg form-control" name="password1" id="password1"
                    placeholder="New Password" autocomplete="off">
                <div class="row">
                    <div class="col-sm-6">
                        <span id="8char" class="glyphicon fa-solid fa-xmark" style="color:#FF0004;"></span> 8 Characters
                        Long<br>
                        <span id="ucase" class="glyphicon fa-solid fa-xmark" style="color:#FF0004;"></span> One Uppercase
                        Letter
                    </div>
                    <div class="col-sm-6">
                        <span id="lcase" class="glyphicon fa-solid fa-xmark" style="color:#FF0004;"></span> One Lowercase
                        Letter<br>
                        <span id="num" class="glyphicon fa-solid fa-xmark" style="color:#FF0004;"></span> One Number
                    </div>
                </div>
                <input type="password" class="input-lg form-control" name="password2" id="password2"
                    placeholder="Repeat Password" autocomplete="off">
                <div class="row">
                    <div class="col-sm-12">
                        <span id="pwmatch" class="glyphicon fa-solid fa-xmark" style="color:#FF0004;"></span> Passwords
                        Match
                    </div>
                </div>
                <input id="submit_change_password" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                    data-loading-text="Changing Password..." value="Change Password" disabled>
            </form>
        </div>
    </div>
</div> -->

<style>
  .login_model button.btn_blue {
    background: #3aaa35;
    display: block;
    width: 132px;
    padding: 10px 0;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border: none;
  }
</style>

<body>
  <%- include("common/Topheader")%>

  <section class="reset login_model py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 signin">
          <img src="/webassets/images/signin.png" class="rounded-5" alt="" />
        </div>
        <div class="col-md-6">
          <div class="form_login text-center">
            <h3>Player Wanted</h3>
            <h6>Reset Password</h6>
            <form
              method="post"
              action="javascript:void(0);"
              id="passwordForm"
              class="text-left"
              novalidate="novalidate"
            >
              <div class="form-group px-0 mt-3">
                <label for="recipient-name" class="col-form-label"
                  >New Password</label
                >
                <input
                  type="password"
                  class="input-lg form-control"
                  name="password1"
                  id="password1"
                  placeholder="New Password"
                  autocomplete="off"
                />
                <i class="bi bi-eye-slash" id="togglePassword"></i>
              </div>
              <div class="row">
                <div class="col-sm-6 text-start">
                  <span
                    id="8char"
                    class="fa-solid fa-xmark"
                    style="color: #ff0004"
                  ></span>
                  8 Characters Long<br />
                  <span
                    id="ucase"
                    class="fa-solid fa-xmark"
                    style="color: #ff0004"
                  ></span>
                  One Uppercase Letter
                </div>
                <div class="col-sm-6 text-start">
                  <span
                    id="lcase"
                    class="fa-solid fa-xmark"
                    style="color: #ff0004"
                  ></span>
                  One Lowercase Letter<br />
                  <span
                    id="num"
                    class="fa-solid fa-xmark"
                    style="color: #ff0004"
                  ></span>
                  One Number
                </div>
              </div>
              <div class="form-group px-0 mt-3">
                <label for="recipient-name" class="col-form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="input-lg form-control"
                  name="password2"
                  id="password2"
                  placeholder="Repeat Password"
                  autocomplete="off"
                />
                <i class="bi bi-eye-slash" id="togglePassword1"></i>
              </div>
              <div class="row">
                <div class="col-sm-12 text-start">
                  <span
                    id="pwmatch"
                    class="fa-solid fa-xmark"
                    style="color: #ff0004"
                  ></span>
                  Passwords Match
                </div>
              </div>
              <div class="form-group px-0 mt-3">
                <button type="submit" id="forgot_data" class="btn_blue">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer><%- include("common/footer")%></footer>
  <script>
    $(document).ready(function () {
      $("input[type=password]").keyup(function () {
        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");

        if (
          ucase.test($("#password1").val()) &&
          lcase.test($("#password1").val()) &&
          num.test($("#password1").val()) &&
          $("#password1").val() == $("#password2").val()
        ) {
          $("#submit_change_password").prop("disabled", false);
        } else {
          $("#submit_change_password").prop("disabled", true);
        }

        if ($("#password1").val().length >= 8) {
          $("#8char").removeClass("fa-solid fa-xmark");
          $("#8char").addClass("fa-solid fa-check");
          $("#8char").css("color", "#00A41E");
        } else {
          $("#8char").removeClass("fa-solid fa-check");
          $("#8char").addClass("fa-solid fa-xmark");
          $("#8char").css("color", "#FF0004");
        }

        if (ucase.test($("#password1").val())) {
          $("#ucase").removeClass("fa-solid fa-xmark");
          $("#ucase").addClass("fa-solid fa-check");
          $("#ucase").css("color", "#00A41E");
        } else {
          $("#ucase").removeClass("fa-solid fa-check");
          $("#ucase").addClass("fa-solid fa-xmark");
          $("#ucase").css("color", "#FF0004");
        }

        if (lcase.test($("#password1").val())) {
          $("#lcase").removeClass("fa-solid fa-xmark");
          $("#lcase").addClass("fa-solid fa-check");
          $("#lcase").css("color", "#00A41E");
        } else {
          $("#lcase").removeClass("fa-solid fa-check");
          $("#lcase").addClass("fa-solid fa-xmark");
          $("#lcase").css("color", "#FF0004");
        }

        if (num.test($("#password1").val())) {
          $("#num").removeClass("fa-solid fa-xmark");
          $("#num").addClass("fa-solid fa-check");
          $("#num").css("color", "#00A41E");
        } else {
          $("#num").removeClass("fa-solid fa-check");
          $("#num").addClass("fa-solid fa-xmark");
          $("#num").css("color", "#FF0004");
        }

        if ($("#password1").val() == $("#password2").val()) {
          $("#pwmatch").removeClass("fa-solid fa-xmark");
          $("#pwmatch").addClass("fa-solid fa-check");
          $("#pwmatch").css("color", "#00A41E");
        } else {
          $("#pwmatch").removeClass("fa-solid fa-check");
          $("#pwmatch").addClass("fa-solid fa-xmark");
          $("#pwmatch").css("color", "#FF0004");
        }
      });
    });

    $("#passwordForm").on("submit", function (e) {
      e.preventDefault();

      let formdata = {
        password: $("#password1").val(),
        confirm_password: $("#password2").val(),
        token: "<%=token%>",
      };
      $.ajax({
        type: "POST",
        url: "/users/resetpassword",
        data: formdata,
        success: async (result) => {
          if (result.status_code == 1) {
            await toastMsg("success", result.message);
            window.location.href = "/register";
          } else {
            await toastMsg("failed", result.message);
          }

          //    let html = `
          //        <div style="font-size: 50px; color: ${color};" >
          //             <b><center>${result.message}</center><p>
          //         </div>
          //     `;
          //    $('#container_wrapper').html(html);
        },
      });
    });

    //// TOGGLE EYE FOR NEW PASSWORD PAGE ////
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password1");

    togglePassword.addEventListener("click", function () {
      const type =
        password.getAttribute("type") === "password" ? "text" : "password";

      password.setAttribute("type", type);

      this.classList.toggle("bi-eye");
    });

    //// TOGGLE EYE FOR CONFIRM PASSWORD PAGE ////
    const logintogglePassword = document.querySelector("#togglePassword1");
    const loginpassword = document.querySelector("#password2");
    logintogglePassword.addEventListener("click", function () {
      const logintype =
        loginpassword.getAttribute("type") === "password" ? "text" : "password";

      loginpassword.setAttribute("type", logintype);

      this.classList.toggle("bi-eye");
    });
  </script>
</body>
